<div>
  <main>
    <section>
      <div>
        <h2>Albert Einstein</h2>
        <time><b>Birthdate-</b> {{birthdate}}</time>
        <br />
        <city>{{birthplace}}</city>
        <br />
        <time><b>Deathdate-</b> {{deathdate}}</time>
        <br />
        <city>{{deathplace}}</city>
        <br />
        <span>Nationality: {{nationality}}</span>
        <span>Occupation: {{occupation}}</span>
        {{#with known_for}}
          <div>
            {{> title data="Known for:"}}
            <ul>              
              <li>
                <span>Theory of Relativity</span>
              </li>
              <li>
                <span>E=mc²</span>
              </li>
              <li>
                <span>Photoelectric Effect</span>
              </li>
              <li>
                <span>Brownian Motion</span>
              </li>              
            </ul>
          </div>
        {{/with}}
        {{#each education}}
        <div>
          {{> title data="Education:"}}
          <ul>
            <li>
              <em>{{degree}}</em>
            </li>
            <li>
              <em>{{field}}</em>
            </li>
            <li>
              <em>{{institution}}</em>
            </li>
            <li>
              <em>{{year}}</em>
            </li>
          </ul>
        </div>
        {{/each}}
        {{> title data="Notable publications:"}}
        {{#each notable_publications}}        
        <div>          
          <ol>
            <ul>
              <li>
                <span>{{title}}</span>
              </li>
              <li>
                <span>{{year}}</span>
              </li>
              <li>
                <span>{{publisher}}</span>
              </li>
            </ul>
          </ol>          
        </div>
        {{/each}}
        {{> title data="Partners:"}}
        {{#each partners}}        
        <div>                    
          <ul>
            <ol>
              <ul>
              <li>
                <span>{{name}}</span>
              </li>
              </ul>
            </ol>
            <li>
              <span>{{relationship}}</span>
            </li>
            <li>
              <span>{{years}}</span>
            </li>
          </ul>                   
        </div>        
        {{/each}}
        {{#each awards}}
        <div>
         {{> title data="Awards:"}} 
         <ol>
          <ul>
            <li>
              <em>{{title}}</em>
            </li>
            <li>
              <em>{{year}}</em>
            </li>
            <li>
              <em>{{description}}</em>
            </li>
          </ul>
         </ol>
        </div>
        {{/each}}              
        {{#with influences}}
        <h4>Influences:</h4>
        <div> 
          <small>         
            <span>-Isaac Newton</span>
            <br>
            <span>-James Clerk Maxwell</span>
            <br>
            <span>-Hermann Minkowski</span>
          </small>           
        </div>
        {{/with}}       
        {{#with influenced}}
        <h4>Influenced:</h4>        
        <div>          
          <small>         
            <span>-Niels Bohr</span>
            <br>
            <span>-Erwin Schrödinger</span>
            <br>
            <span>-Werner Heisenberg</span>
            <br>
            <span>-Richard Feynman</span>
          </small> 
        </div>
        {{/with}}      
        {{#with quotes}}
        <h4>Quotes:</h4>
        <div>
          <small>           
            <p>
              Imagination is more important than knowledge.
            </p>
            <p>
              I have no special talent. I am only passionately curious. 
            </p>
            <p>
              The important thing is not to stop questioning. 
            </p>
            <p>
              The most beautiful thing we can experience is the mysterious. It is the source of all true art and all science. 
            </p>
          </small>
        </div>
        {{/with}}
        {{#each major_discoveries}}
        <div>
          {{> title data="Major discoveries:"}}
          <ul>
            <li>
              <span>{{title}}</span>
            </li>
            <li>
              <span>{{year}}</span>
            </li>
            <li>
              <span>{{description}}</span>
            </li>            
          </ul>
        </div>
        {{/each}}
        {{#with contributions}}
        <div>
          {{> title data="Contributions:"}}
          <ul>
            <ol>
              <ul>
                <li>
                  <span>{{title}}</span>
                </li>
                <li>
                  <span>{{description}}</span>
                </li>
                <li>
                  <span>{{year}}</span>
                </li>
                <li>
                  <span>{{field}}</span>
                </li> 
              </ul>
            </ol>           
          </ul>
        </div>
        {{/with}}
      </div>
    </section>
  </main>
</div>