<div class='ms-3'>
  <h1 class='text-center'>{{name}}</h1>
  <div class='mt-3'>
    <p class='font-monospace'>{{description}}</p>
  </div>
  {{#with history}}
    <em>{{year}}, {{founder}}</em>
  {{/with}}
  <br />
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-info dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >Types:
    </button>
    {{#each types}}
      <ul class='dropdown-menu'>
        <li>
          <a class='dropdown-item' href='#'>Number</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>String</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Boolean</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Null</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Undefined</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Symbol</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Object</a>
        </li>
      </ul>
    {{/each}}
  </div>
  <br />
  <br />
  {{#with syntax}}
    <strong>Variables:</strong>
    {{#each variables}}
      <span>{{this}}</span>
    {{/each}}
    <br />
    <strong>Functions:</strong>
    {{#each functions}}
      <span>{{this}}</span>
    {{/each}}
    <br />
    <strong>Conditionals:</strong>
    {{#each conditionals}}
      <span>{{this}}</span>
    {{/each}}
    <br />
    <strong>Loops:</strong>
    {{#each loops}}
      <span>{{this}}</span>
    {{/each}}
    <br />
    <strong>Classes:</strong>
    {{#each classes}}
      <span>{{this}}</span>
    {{/each}}
  {{/with}}
  <hr />
  <div
    class='accordion accordion-flush'
    id='accordionFlushExample'
  >
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button collapsed'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#flush-collapseOne'
          aria-expanded='false'
          aria-controls='flush-collapseOne'
        >
          <strong>Features</strong>
        </button>
      </h2>
      <div
        id='flush-collapseOne'
        class='accordion-collapse collapse'
        data-bs-parent='#accordionFlushExample'
      >
        <div class='accordion-body'>First-class functions</div>
        <div class='accordion-body'>Closures</div>
        <div class='accordion-body'>Dynamic typing</div>
        <div class='accordion-body'>Prototype-based
          inheritance</div>
        <div class='accordion-body'>Asynchronous programming
          with Promises and async/await
        </div>
        <div class='accordion-body'>Modules with
          import/export statements</div>
      </div>
    </div>
  </div>
  <hr />
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-info dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Libraries:
    </button>
    {{#each libraries}}
      <ul class='dropdown-menu'>
        <li>
          <a class='dropdown-item' href='#'>jQuery</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>React</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Angular</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Vue</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Node.js</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Express.js</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Lodash</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Moment.js</a>
        </li>
      </ul>
    {{/each}}
  </div>
  <br />
  <br />
  <div class='btn-group'>
    <button
      type='button'
      class='btn btn-primary dropdown-toggle'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Tools:
    </button>
    {{#each tools}}
      <ul class='dropdown-menu'>
        <li>
          <a class='dropdown-item' href='#'>Babel</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Webpack</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>ESLint</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Jest</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Mocha</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Chai</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Selenium</a>
        </li>
        <li>
          <a class='dropdown-item' href='#'>Cypress</a>
        </li>
      </ul>
    {{/each}}
  </div>
  <br />
  <br />
  <b><i>Community:</i></b>
  {{#each community}}
    <ul>
      <li>
        <span>Name: {{name}}</span>
        <br />
        <span>Type: {{type}}</span>
      </li>
    </ul>
  {{/each}}
</div>