<main> 
  <div class="card mb-5">
    {{#with navigation}}
      {{> links}}
    {{/with}}
  </div>
  <h1>{{header}}</h1>
  {{#with purchase}}
  <div class="row mt-2 mb-3">
    {{#each tabs}}
    <div class="col-3">
      <div class="row">
        <div class="nav nav-tabs">
          <div class="nav-item">
            {{#if @first}}
              <a href="#" class="nav-link active">{{this}}</a>
            {{/if}}
            {{#if @last}}
              <a href="#" class="nav-link">{{this}}</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="row mt-5">    
      {{#with actionBlock}}
        <div class="col-3">
        {{#with input}}
          <div class="form-input">
            <input type="text" value='{{placeholder}}' class='form-control fw-lighter'>
          </div>
        {{/with}}
        </div>      
        {{#each buttons}}           
          {{#if isSuccess}}
          <div class="col-2"> 
            <a href="{{link}}" class="btn btn-success" target="_blank">{{text}}</a>
          </div>
          {{/if}}
          {{#if isOutline}}
          <div class="col-2">
            <a href="{{link}}" class="btn btn-outline-success" target="_blank">{{text}}</a>
          </div>
          {{/if}}
          {{#if isDanger}}
          <div class="col-2">
            <a href="{{link}}" class="btn btn-outline-danger" target="_blank">{{text}}</a>
          </div>
          {{/if}}      
        {{/each}}     
      {{/with}} 
      <div class="mt-3 mb-3">
        <hr>
      </div>
      <table>
        {{> table}} 
      </table> 
    </div>
  </div>
  {{/with}}
  <hr>  
  {{#with userInfo}}
  <h3>{{title}}</h3>
    {{#with profileData}}
    <div class="card">    
      <h4 class="mt-5 ms-3">{{title}}</h4>      
      {{#with fullName}}     
      <div class="card p-2 mx-2">
        <div class="row">
        {{#with surname}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}} 
        {{#with name}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}}
        {{#with middleName}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}}        
      </div>
      </div>
      {{/with}}
      {{#with otherInfo}}     
      <div class="card p-2 mx-2 mt-4">
        <div class="row">
        {{#with birthday}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}} 
        {{#with sex}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}}
        {{#with language}}
        <div class="col-4">
          <p class="fw-light">{{title}}</p>
          <p class="fw-medium">{{value}}</p>
        </div>
        {{/with}}        
      </div>
      </div>
      {{/with}}
    {{/with}}
      <div class="card p-2 mx-2 mt-4 mb-4">
        <div class="row">
        {{#each buttons}}
          {{#if isPrimary}}
          <div class="col-4">
          <a class="btn btn-primary col-4 m-2" href="{{link}}" target="_blank">{{text}}</a>
          </div>
          {{/if}}
          {{#if isSecondary}}
          <div class="col-4">
          <a href="{{link}}" class="btn btn-outline-secondary col-4 m-2" target="_blank">{{text}}</a>
          </div>
          {{/if}} 
          {{#if isDanger}}
          <div class="col-4">
          <a href="{{link}}" class="btn btn-outline-danger col-4 m-2" target="_blank">{{text}}</a>
          </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
    </div>
    {{#with recipients}}
    <div class="card p-3 mt-3">    
      <h4 class="mt-5 ms-3">{{title}}</h4>
      <div class="row">
      {{#each users}}
        <div class="card col-3 p-2 m-2">
          <p class="text-capitalize">{{name}}</p>
          <p>{{phone}}</p>
          {{#with button}}
          <a href="{{link}}" class="btn btn-primary m-2 col-6" target="_blank">{{text}}</a>
          {{/with}}
        </div>
      {{/each}}
      </div> 
    </div>
    {{/with}}
    {{#with contacts}}
    <div class="card p-3 mt-3">    
      <h4 class="mt-5 ms-3">{{title}}</h4>
      <div class="row">
      {{#each contactData}}
        <div class="card col-3 p-2 m-2">
          <p class="text-capitalize">{{title}}</p>
          <p>{{value}}</p>
          {{#with button}}
            {{#if isPrimary}}          
              <a href="{{link}}" class="btn btn-primary m-2 col-6" target="_blank">{{text}}</a>
            {{/if}}
            {{#if isSecondary}}          
              <a href="{{link}}" class="btn btn-outline-secondary m-2 col-6" target="_blank">{{text}}</a>
            {{/if}}
            {{#if isDanger}}          
              <a href="{{link}}" class="btn btn-outline-danger m-2 col-6" target="_blank">{{text}}</a>
            {{/if}}
          {{/with}}
        </div>
      {{/each}}
      </div> 
    </div>
    {{/with}}
  {{/with}}
  <div class="mt-5 mb-5">
    <hr>
  </div>
  {{> footer_link}}
</main>