<main>
  {{> links}}  
    <div class="row mt-5 mb-5">         
      {{#each breadcrumb}} 
        <div class="col-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              {{#if url}}
                <a href="{{url}}" target="_top">{{name}}</a>
              {{else}}
                {{name}}
              {{/if}}
            </li>
          </ol>
        </div>       
      {{/each}}          
    </div>
  <h1 class="mt-3 mb-3">{{header}}</h1>
  <div class="row">  
    {{#each sortBlock}}                           
      <div class="col-3">                
        <div class="label mb-2"></div>                  
        <select class="form-select fw-lighter">                 
          <option>{{placeholder}}</option>                                     
        {{#each options}}                    
          <option>{{value}}: {{text}}</option>
        {{/each}}                     
        </select>                
      </div>            
    {{/each}}
  </div>
  <div class="row mt-5">
    {{#with filterBlock}}
      <aside class="col-4"> 
        <div class="card p-3">     
        {{#with sellers}}
          <p class="mt-4">{{title}}</p>
          {{#each list}}
          <div class="form-check">
            <label class="form-check-lable ms-3">{{value}}</label>
            <input name="sellers" type="checkbox" class="form-check-input">
          </div>
          {{/each}}              
        {{/with}}
        <div class="mt-3 mb-3">
          <hr>
        </div>
        <div class="row">
          {{#with brands}}
            <div class="label">{{title}}</div>
              {{#with input}} 
              <label class="form-label">                
                <input type="text" class="form-input mt-3 fw-lighter col-12" value="{{placeholder}}"> 
              </label>
              {{/with}}                                                 
            {{#each options}}                    
              <div class="form-check mt-2 ms-2">
                <label class="form-check-lable ms-2">{{value}}</label>
                <input name="brand" type="checkbox" class="form-check-input">
              </div>
            {{/each}}
          {{/with}}
        </div>
        <div class="mt-3 mb-3">
          <hr>
        </div>
        <div class="row">
          {{#with price}}            
            <div class="label">{{title}}</div>
              {{#with range}} 
              <label class="form-label mt-3">                
                <input type="text" class="form-input fw-lighter col-12" value="{{from}}"> 
              </label>
              <label class="form-label mt-3">                
                <input type="text" class="form-input fw-lighter col-12" value="{{to}}"> 
              </label>
              {{/with}}              
            {{#with button}}
              <a href="{{link}}" class="btn btn-outline-secondary col-2 ms-3 mt-3">{{text}}</a>
            {{/with}}         
          {{/with}}
        </div>        
        {{#each filterList}}
          <div class="mt-3 mb-3">
            <hr>
          </div>
          <p>{{title}}</p>
          {{#each options}}                    
            <div class="form-check mt-2 ms-2">
              <label class="form-check-lable ms-2">{{value}}</label>
              <input name="filterlist" type="checkbox" class="form-check-input">
            </div>
          {{/each}}          
        {{/each}}
        </div>
      </aside>
    {{/with}} 
    <div class="col-8">
      <div class="row g-2">        
        {{#each goodsList}}
          {{> catalogItem}}               
        {{/each}}
      </div>      
    </div>
  {{> servise}}
    <div class="mt-5 mb-5">
      <hr>
    </div>
  {{> footer_link}}
</main>