<main>
  <div class='mb-5'>
    <div class='card'>
      {{#with heading}}
        <div class='card body m-3'>
          {{#with main}}
            <div class='m-3'>
              <h1>Heading</h1>
              <p class='uppercase text-center'>{{title}}</p>
              <p>{{text}}</p>
              {{#with button_text}}
                <div>
                  <button
                    type='button'
                    class='btn btn-primary mb-3'
                  >{{solid}}</button>
                </div>
                <div>
                  <button
                    type='button'
                    class='btn btn-outline-primary'
                  >{{outline}}</button>
                </div>
              {{/with}}
            </div>
          {{/with}}
        </div>
        <div class='card body m-3'>
          {{#with second}}
            <div class='m-3'>
              <h2>Heading second</h2>
              <p class='uppercase text-center'>{{title}}</p>
              <p>{{text}}</p>
              {{#with button_text}}
                <div>
                  <button
                    type='button'
                    class='btn btn-secondary mb-3'
                  >{{solid}}</button>
                </div>
                <div>
                  <button
                    type='button'
                    class='btn btn-outline-secondary'
                  >{{outline}}</button>
                </div>
              {{/with}}
            </div>
          {{/with}}
        </div>
        <div class='card body m-3'>
          {{#with subblock}}
            <div class='m-3'>
              <h3>Heading subblock</h3>
              <p class='uppercase text-center'>{{title}}</p>
              <p>{{text}}</p>
              {{#with button_text}}
                <div>
                  <button
                    type='button'
                    class='btn btn-dark mb-3'
                  >{{solid}}</button>
                </div>
                <div>
                  <button
                    type='button'
                    class='btn btn-outline-dark'
                  >{{outline}}</button>
                </div>
              {{/with}}
            </div>
          {{/with}}
        </div>
      {{/with}}
    </div>
    <div class='card display-1 mt-5'>
      {{#with nested_display}}
        <p class='text-lowercase m-3'>{{title}}</p>
        <div class='card m-3'>
          {{#with children_display}}
            <div class='card-body display-4 m-3'>
              <p class='text-lowercase'>{{title}}</p>
              <p class='mt-3'>{{text}}</p>
              {{#with button}}
                <button
                  class='btn btn-outline-warning mt-5 mb-3'
                >{{text}}</button>
              {{/with}}
            </div>
          {{/with}}
        </div>
        <h6 class='m-3'>{{header_text}}</h6>
        {{#with button}}
          <div>
            <button
              class='btn btn-info m-3'
            >{{text}}</button>
          </div>
        {{/with}}
      {{/with}}
    </div>
    <div class='card mt-3'>
      <div class='card-body m-3'>
        <p class='text-uppercase'>paragraph</p>
        {{#with paragraph}}
          <p class='text-lowercase'>{{title}}</p>
          <p>{{text}}</p>
          {{#with button}}
            <p><a
                href='https://google.com'
                target='_blank'
              >{{text}}</a></p>
          {{/with}}
          <div class='card'>
            {{#each list_name}}
              <ul class='cad-body mt-2'>
                <li><a
                    href='{{url}}'
                    target='_blank'
                  >{{text}}</a></li>
                {{!-- <li><a href="https://getbootstrap.com/">{{text}}</a></li> --}}
              </ul>
            {{/each}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>
</main>