{{#each reviewList}}
  <div class='card p-3 mt-3'>
    <div class='card p-3'>
      {{#with title}}
        <p>{{userName}}</p>
        <p>{{caption}}</p>
        <p>{{date}}</p>
      {{/with}}
    </div>
    {{#with reviewBody}}
      <div class='card mb-3 p-3'>
        {{#with seller}}
          <div class='mt-2'>
            <p>{{title}}: {{value}}</p>
          </div>
        {{/with}}
        {{#with rating}}
          <div class='mt-2 mb-3'>
            <p class='fw-light'>{{title}}: {{value}}</p>
          </div>
        {{/with}}
        {{#each text}}
          <p>{{this}}</p>
        {{/each}}
        {{#with advantages}}
          <b>{{title}}:</b>
          <p>{{text}}</p>
        {{/with}}
        {{#with disadvantages}}
          <b>{{title}}:</b>
          <p>{{text}}</p>
        {{/with}}
        <div class='row'>
          <div clas='col-2 m-2'>
            {{#each images}}
              <img src='{{this}}' alt='photos' />
            {{/each}}
          </div>
        </div>
      </div>
      {{#each coments}}
        <div class='card m-3 p-3'>
          <h5>{{userName}}</h5>
          <p>{{date}}</p>
          <p>{{text}}</p>
        </div>
      {{/each}}
    {{/with}}
  </div>
{{/each}}